html {
    --main-color: #333333;
    --secondary-color: #fa694e;
    --secondary-text: #777;
    --primarycolor: #ff274b;
    --thirdcolor: #f7bcf7;
    --lightcolor : #ffffff;
    --bgcolor-1: #171a1c;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Work Sans";
    margin: 0;
}

.specialTitle {
    font-size: 60px;
    font-weight: 900;
    color: #c5c5c5;
}

.specialParagraph {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Header */

.header {
    height: 100px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient( black , transparent);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container img {
    width: 60px;
    height: 60px;
}

.header .container .menuDiv .menuIcon {
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.header .container .menuDiv .menuIcon .iconLine {
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.header .container .menuDiv .menuIcon .middleLine { 
    width: 50%;
    transition: 0.3s;
}

.header .container .menuDiv:hover .middleLine {
    width: 100%;
}



.header .container .menuDiv .menuList {
    width: 200px;
    background-color: rgb(0, 0, 0);
    list-style: none;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 30px;
    display: none;
}

.header .container .menuDiv .menuList::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 25px;
    top: -20px;
}

.header .container .menuDiv .menuList li {
    padding: 10px;
    transition: 0.3s;
}

a{
    text-decoration: none;
    color: var(--primarycolor);
}

.header .container .menuDiv .menuList li:hover {
    padding-left: 20px;
    cursor: grab;
}
.header .container .menuDiv .menuList li:active {
    cursor: grabbing;
}

.header .container .menuDiv .menuList .divider {
    border-bottom: 1px solid rgba(128, 128, 128, 0.709);
}

.header .container .menuDiv {
    position: relative; 
    padding-right: 20px;
}

.header .container .menuDiv:hover .menuList {
    display: block;
}


/* End Header */

/* Start Landing */


#lolo{
    background-color: #000000;
}
.landing {
    height: 100vh;
    background-image: url(images/e76214d0fe4fcb8fedfe274d4a2537c3.jpg);
    background-size: cover;
    position: relative;
}

.landing::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
}

.landing .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .container .landingText {
    text-align: center;
    z-index: 1;
}

.landing .container .landingText h1 {
    color: white;
    font-size: 80px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.landing .container .landingText p {
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.landing .container .landingText button {
    background-color:var(--primarycolor);
    color: #000000;
    font-size: 20px;
    padding: 20px 40px;
    font-weight: 900;
    border: none;   
}

.landing .container .landingText button:hover {
    cursor: pointer;
    background-color: rgb(246, 57, 57);
}

.landing .container .landingText button:active {
    background-color: rgb(175, 7, 7);
}

@media (max-width: 992px) {
    .landing .container .landingText h1 {
        font-size: 60px;
    }

    .landing .container .landingText p {
        font-size: 20px;
    }
    .landing{
        background-image: url(images/HD-wallpaper-vibrant-colorful-gaming-laptop-razer-blade-15-dark-•-for-you-video-game.jpg)
    }
}


/* End Landing */

/* Start Services */

h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}
h3{
    color: white;
}

.services {
    padding: 100px 0;
    background-color: black;
}

.services .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services .container .service i {
    font-size: 60px;
    color: var(--primarycolor);
}

.services .container .service h3 {
    font-size: 36px;
    margin: 10px 0;
}

.services .container .service p {
    font-size: 26px;
    color: var(--primarycolor);

}

.services .container .service {
    text-align: center;
    width: 300px;
    margin: 10px;
}



/* End Services */

/* Start Stories */

p{
    color: var(--primarycolor);
}


.specialTitle{
color: var(--primarycolor);

}
.stories {
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #000000;
}

.stories .container {
    text-align: center;
}

.stories .container .contents {
    display: flex;
}

.stories .container .contents .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stories .container .contents .cards .card {
    width: 230px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    margin: 10px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .stories .container .contents .cards .card {
        width: 320px;
        margin-bottom: 30px;
    }
}

.stories .container .contents .cards .card .cardImg {
    background-color: var(--primarycolor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 100px;
}

.stories .container .contents .cards .card .cardImg img {
    width: 100px;
}

.stories .container .contents .cards .card .cardDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 100px;
}

.stories .container .contents .cards .card .cardDetails p {
    margin-top: 10px;
}

.stories .container .contents .imgDiv {
    display: none;
    align-items: center;
    position: relative;
}

.stories .container .contents .imgDiv img {
    width: 300px;
    z-index: 1;
}

.stories .container .contents .imgDiv::before {
    content: "";
    width: 100px;
    height: 80%;
    background-color: #c5c5c5;
    position: absolute;
    right: 20px;
}

@media (min-width: 1200px) {
    .stories .container .contents .imgDiv {
        display: flex;
    }
}


/* End Stories */
/* Start Contact */

.contact {
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact .container {
    text-align: center;
}

.contact .container .contents {
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.contact .container .contents .details h3 {
    font-size: 30px;
    color: var(--main-color);
    margin: 0;
}

.contact .container .contents .details p {
    font-size: 22px;
    color: var(--secondary-text);
    margin-bottom: 40px;
}

.contact .container .contents .form {
    margin-left: 40px;
    flex-grow: 1;
}

.contact .container .contents .form .firstRow {
    display: flex;
}

.contact .container .contents .form .firstRow input:nth-child(2) {
    margin-left: 10px;
}

.contact .container .contents .form input, textarea {
    width: 100%;
    padding: 20px;
    font-size: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--bgcolor-1);
    outline-color: var(--primarycolor);
    resize: none;
    color: grey;
}

.contact .container .contents .form button {
    width: 100%;
    padding: 20px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    background-color: var(--primarycolor);
    color: rgb(0, 0, 0);
}

.contact .container .contents .form button:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}

@media (max-width: 767px) {
    .contact .container .contents {
        flex-direction: column;
    }

    .contact .container .contents .form {
        margin-left: 0;
        margin-top: 40px;
    }
}


/* End Contact */
/* Start Footer */

.footer {
    padding: 5px;
    background-color: var(--bgcolor-1);
    color: white;
    font-size: 20px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer .container .socialIcons {
    display: flex;
}

.footer .container .socialIcons .iconDiv {
    width: 50px;
    height: 50px;
    color: var(--secondary-text);
    margin-left: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

@media (max-width: 767px) {
    .footer .container {
        flex-direction: column;
    }
}

/* End Footer */
