html {
    --main-color: #051eff;
    --hover-color: #051eff;
}


* {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: black;
    color: #051eff;
}
textarea{
    color: #051eff;
}

h1 {
    font-family: "Sankofa Display", sans-serif;
    font-weight: 900;
    color: var(--main-color);
    font-size: 60px;
    margin: 20px;
}

h1 i {
    font-size: 40px;
}

#bottomDiv {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    height: 12vh;
}

#bottomDiv #userDiv,
#bottomDiv #settingsDiv {
    background-color: var(--main-color);
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid white;
    transition: 0.6s;
    border: 2px solid transparent;
    background-repeat: no-repeat;
}

#bottomDiv #userDiv:hover,
#bottomDiv #settingsDiv:hover {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    cursor: grab;
}
#bottomDiv #userDiv:active,
#bottomDiv #settingsDiv:active {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    cursor: grabbing;
}

.modal-header {
    background-color: black;
    border: none;
}
.modal-body {
    background-color: black;
    border: none;
}
.modal-footer {
    background-color: black;
    border: none;
}

#addButton {
    position: fixed;
    right: 20px;
    bottom: 15vh;
    font-size: 60px;
    color: var(--main-color);
    transition: 0.5s;
}

#addButton:hover {
    cursor: grab;
    color: var(--hover-color);
}
#addButton:active{
    cursor: grabbing;
}

#zeroNotes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--hover-color);
}
h1 {
    font-family: "Sankofa Display", sans-serif;
    font-weight: 900;
    color: var(--main-color);
    font-size: 60px;
    margin: 20px;
}

h1 i {
    font-size: 40px;
}
#zeroNotes img {
    width: 50%;
}
h4{
    color: var(--main-color);
}
h3{
    color:#051eff;
}
#noteInput {
    width: 100%;
    resize: none;
    outline-color: var(--main-color);
    font-size: 25px;
    padding: 10px;
    background-color: black;
    color: var(--hover-color);
}
.btn-btn-primary{
    background-color: var(--main-color);
        width:30%;
        color: rgb(0, 0, 0);
        font-size:23px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.6s;
        border: 2px solid transparent;
        background-repeat: no-repeat;
        border-radius: 20px;
}
.btn-btn-primary:hover{
        background-color: transparent;
            border: 2px solid var(--main-color);
            color: var(--main-color);
            cursor: grab;
}
.btn-btn-primary:active{
        background-color: transparent;
            border: 2px solid var(--main-color);
            color: var(--main-color);
            cursor: grabbing;
}

#notesDiv div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    font-size: 25px;
    border-bottom: 2px solid var(--main-color);
}

#notesDiv div p {
    margin: 0;
}
.dataBtn{
        background-color: var(--main-color);
            width: 50%;
            color: rgb(0, 0, 0);
            font-size: 25px;
            justify-content: center;
            align-items: center;
            transition: 0.6s;
            border: 2px solid transparent;
            background-repeat: no-repeat;
            border-radius: 20px;
}
.dataBtn:hover{
        background-color: transparent;
            border: 2px solid var(--main-color);
            color: var(--main-color);
            cursor: grab;
}
.dataBtn:active{
        background-color: transparent;
            border: 2px solid var(--main-color);
            color: var(--main-color);
            cursor: grabbing;
}

#optionsDiv {
    height: 77vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#optionsDiv div {
    text-align: center;
}

#optionsDiv div button {
    width: 80%;
}

#loginDiv {
    width: 80%;
    max-width: 500px;
    margin: auto;
    height: 77vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#loginDiv div {
    width: 100%;
    text-align: center;
    border: 2px solid var(--main-color);
    padding: 40px 20px;
    background-color: black;
    border-radius: 20px;
}

#loginDiv div button {
    width: 60%;
    background-color: var(--main-color);

    color: rgb(0, 0, 0);
    font-size: 25px;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    border: 2px solid transparent;
    background-repeat: no-repeat;
    border-radius: 20px;
}

#loginDiv div button:hover {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    cursor: grab;
}

#loginDiv div button:active {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    cursor: grabbing;
}

#loginDiv div input {
    padding: 10px 20px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: black;
    color: #051eff;
    border: none;
    outline: #051eff;
}


#loginDiv #loginError {
    font-size: 22px;
    color: #051eff;
    margin-bottom: 20px;
    display: none;
}
#signupDiv {
    width: 80%;
    max-width: 500px;
    margin: auto;
    height: 77vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#signupDiv div {
    width: 100%;
    text-align: center;
    border: 2px solid var(--main-color);
    padding: 40px 20px;
    background-color: black;
    border-radius: 20px;
}

#signupDiv div button {
    width: 60%;
    background-color: var(--main-color);

    color: rgb(0, 0, 0);
    font-size: 25px;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    border: 2px solid transparent;
    background-repeat: no-repeat;
    border-radius: 20px;
}

#signupDiv div button:hover {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    cursor: grab;
}

#signupDiv div button:active {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    cursor: grabbing;
}

#signupDiv div input {
    padding: 10px 20px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: black;
    color: #051eff;
    border: none;
    outline: #051eff;
}


#signup #signupError {
    font-size: 22px;
    color: #051eff;
    margin-bottom: 20px;
    display: none;
}




#detailsDiv {
    margin: auto;
    height: 77vh;
    display: none;
    justify-content: center;
    align-items: center;
}

#detailsDiv div {
    text-align: center;
    padding: 50px;
    border: 2px solid darkblue;
    border-radius: 20px;
}




@media (min-width: 1200px) {

    #notesDiv {
        width: 600px;
        margin: auto;
    }

    #notesDiv div {
        margin-bottom: 20px;
        border: 2px solid var(--main-color);
        border-radius: 20px;
    }

    #bottomDiv {
        right: 0;
        left: auto;
        top: 50%;
        transform: translate(0, -50%);
        flex-direction: column;
        width: 100px;
        height: 20vh;
    }

    #bottomDiv #userDiv,
    #bottomDiv #settingsDiv {
        width: 100%;
        height: 50%;
    }

    #adsDiv {
        display: block;
    }

}